@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500&display=block');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;600&display=block');

html, body, p, a {
    font-family: 'Source Sans 3', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

header.pdoc.ag {
    display: block;
}

header.pdoc.ag .logo-wrapper img {
    max-height: unset;
    max-width: unset;
    height: 100px;
}

.logo-wrapper {
    display: block;
}

a.tile {
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: 10px 30px;
    font-weight: bold;
}

a.tile svg {
    stroke: black !important;
}

a.tile:hover {
    color: white;
    background-color: black;
}

a.tile:hover svg {
    stroke: white !important;
}

nav.pdoc {
    box-shadow: none;
    /*border-right: none;*/
    background: white;
}

.pdoc-button {
    border-radius: 0 !important;
}

a.pdoc-button.module-list-button {
    border-color: black;
    color: black;
}

a.pdoc-button.module-list-button:hover {
    border-color: black;
    background: black;
    color: white;
}

.text-light {
    color: #999;
}

.text-light a {
    color: #6a6a6a;
}
